/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 98vw;
  background-color: #1e1e1e; /* Dark background */
  color: #e0e0e0; /* Light text color */
  margin: 0;
  padding: 0;
}

/* src/ChatWindow.css */
.chat-window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  border-radius: 12px; /* Reduced border radius */
  background-color: #2a2a2a; /* Darker background */
  overflow: hidden;
}

.messages {
  flex: 1;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #2a2a2a;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message {
  margin: 8px 0;
  padding: 12px;
  border-radius: 8px; /* Reduced border radius for message bubbles */
  max-width: 70%; /* Reduced max-width for messages */
  word-wrap: break-word;
  color: #e0e0e0; /* Light text color */
}

.message.user {
  align-self: flex-end;
  background-color: #3a3a3a;
}

.message.bot {
  align-self: flex-start; 
  background-color: #4a4a4a; 
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #333;
  background-color: #2a2a2a; /* Darker background */
  border-radius: 0 0 12px 12px; /* Reduced border radius for bottom corners */
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 12px; /* Reduced border radius for input box */
  background-color: #3a3a3a; /* Dark grey */
  color: #e0e0e0; /* Light text color */
}

.input-area input::placeholder {
  color: #888;
}

.input-area button {
  padding: 10px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 12px; /* Reduced border radius for button */
  background-color: #007bff; /* Blue */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-area button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

@media (max-width: 600px) {
  .chat-window {
    border-radius: 0;
  }

  .message {
    max-width: 100%; /* Adjust for smaller screens */
  }
}

.sample-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sample-content img {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
}

.sample-content h1 {
  color: #e0e0e0;
  font-size: 24px;
  margin-top: 10px;
}