<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shiver</title>
  <link rel="stylesheet" href="/../static/styles.css">
</head>
<body>
  <div class="home-container">
    <div class="home-header">
      <img src="/../static/assets/logo.png" alt="Shiver's Logo" class="home-logo">
      <h1 class="home-h1">Shiver</h1>
    </div>
    <div class="card-grid">
      <a href="/herbert">
        <div class="card">
          <img src="https://media.tenor.com/ulWNSz7-wQEAAAAj/i-know-herbert-garrison.gif" alt="Logo" class="recipe-logo">
          <h2>Herbert Garrison</h2>
          <p>Hi! I’m Herbert garrison, give me a word and i'll define it.</p>
        </div>
      </a>
      <a href="/nitya">
        <div class="card">
          <img src="https://em-content.zobj.net/source/emojidex/112/female-cook-type-4_1f469-1f3fd-200d-1f373.png" alt="Logo" class="recipe-logo">
          <h2>Nitya's Kitchen</h2>
          <p>Hi! I’m Nitya, an Indian chef who loves to cook and share delicious recipes.</p>
        </div>
      </a>
      
    </div>
  </div>
</body>
</html>
