<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Herbert Garrison</title>
  <link rel="stylesheet" href="/static/Herb.css">
</head>
<body>
  <div class="definition-container">
    <div class="definition-header">
      <img src="https://media.tenor.com/wSsCWr9Ihl0AAAAi/wait-a-minute-herbert-garrison.gif" alt="Logo" class="definition-logo" />
      <h1>Herbert Garrison</h1>
    </div>
    <form id="definition-form" class="definition-form">
      <input
        type="text"
        id="definition-input"
        placeholder="Enter word"
        class="definition-input"
      />
      <button type="submit" class="definition-button">
        Define
      </button>
    </form>
    <div id="loading-spinner" class="loading-spinner" style="display: none;"></div>
    <div id="definition-content" class="definition-content"></div>
  </div>

  <script src="/static/Herb.js"></script>
</body>
</html>